.my-skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 30px;
  /* color: white; */
}

@media screen and (min-width: 1024px) and (max-width: 1350px) {
  .my-skills {
    padding: 20px 100px;
  }
}

.my-skills-top {
  text-align: center;
}

.header {
  color: #08fdd8;
  font-size: 2rem;
  font-weight: 500;
}

.my-skills-bottom {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 1200px;
  /* margin-top: 20px; */
}

.my-skills-bottom-left {
  flex: 1;
}

.my-skills-bottom-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.my-skills-content {
  font-size: 1.1rem;
  line-height: 1.5;
  text-align: start;
}

.skills-header {
  color: #000;
  font-size: 1.1rem;
  margin-bottom: 10px;
}

@media screen and (min-width: 1500px) {
  .my-skills-content {
    font-size: clamp(1rem, 1.5rem, 2rem);
  }
  .skills-header {
    font-size: clamp(1rem, 1.5rem, 2rem);
  }
}

.progressBar-header {
  /* color: white; */
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 5px;
}

.childDiv {
  height: 100%;
  border-radius: 40px;
  text-align: right;
}

.childDiv {
  background-color: rgb(8, 253, 216);
}

.progress-bar {
  height: 5px;
  width: 90%;
  background-color: whitesmoke;
  border-radius: 20px;
  margin-top: 10px;
}

.footer {
  text-align: center;
  margin-top: 50px;
  color: #000;
  font-size: clamp(1.5rem, 1.5rem, 2rem);
  font-weight: 500;
}

/* @media screen and (max-width: 1024px) {
  .my-skills-bottom {
    flex-direction: column;
  }
} */
