body {
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar_wrapper {
  background-color: rgb(27, 27, 27);
  color: #909096;
  padding: 10px 0;
  text-align: center;
}

.navbar-container {
  display: flex;
  justify-content: center;
}

.navbar_item {
  margin: 0 15px;
}

.navbar_item_link {
  text-decoration: none;
  color: #909096;
  font-weight: 400;
  font-size: 1.25rem;
}

.navbar_item_link.active {
  color: #08fdd8;
}

.container {
  /* padding: 20px 0; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.home-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  gap: 30px;
}

.home-left,
.home-right {
  flex: 1;
}

.about-right-image {
  text-align: center;
}

.about-image {
  width: 100%;
  border-radius: 10px;
  max-width: 350px;
  margin: 0 auto;
}

.header-content {
  /* color: white; */
  font-size: clamp(50px, 3vw, 70px);
  font-family: sans-serif;
  font-weight: bold;
  margin-bottom: 10px;
}

.sub-header-content {
  color: #909096;
  font-size: 1.25rem;
  letter-spacing: 5px;
  margin-top: 10px;
}

.contact-button-container {
  display: flex;
  /* justify-content: center; */
  margin-top: 20px;
}

.contact-button {
  font-size: 1rem;
  padding: 15px 50px;
  background-color: rgb(32, 31, 31);
  color: aqua;
  letter-spacing: 5px;
  border: 1px solid aqua;
}

/* Adjustments for smaller screens */
@media screen and (max-width: 768px) {
  .navbar-container {
    justify-content: space-around;
    /* flex-direction: column; */
  }

  .navbar_item {
    margin: 10px 0;
  }

  .home-wrapper {
    flex-direction: column;
  }
}

/* .my-outlined-text {
  color: aqua;
  text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000,
    1px 1px 0 #000000;
} */
